name: Manual Lua Check

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Lua check
        uses: nebularg/actions-luacheck@v1
        with:
          config: https://raw.githubusercontent.com/clicketz/wow-luacheckrc/mainline/.luacheckrc
          args: "--no-color --codes -q"
          annotate: warning

      - name: Generate Changelog
        run: ./generate_changelog.sh

      - name: Show Changelog
        run: cat CHANGELOG.md
